@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:#222831;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:  #222831;;
    --foreground: #fff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ADB5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


html {
  scroll-behavior: smooth;
}


.glassmorphism2 {
 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}



.Down{
  width: 96px;
  height: 96px;
  left: 464px;
  padding: 30px 0px 30px 0px;
  gap: 0px;
  opacity: 0px;
  
}